.reserved {
  width: 1024px;
}
.dice {
  width: 116px;
  height: 117px;
  margin: 10px 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/D6.jpg');
}
.dice:hover {
  box-shadow: inset 0 0 0 10px yellow;
}
.dice.changing {
  background-color: yellow;
}
#D1 { background-position: 0px 0px; }
#D2 { background-position: -115px 0px; }
#D3 { background-position: -230px 0px; }
#D4 { background-position: -345px 0px; }
#D5 { background-position: -462px 0px; }
#D6 { background-position: -577px 0px; }

.counter {
  width: 118px;
  height: 118px;
  background-repeat: no-repeat;
  float: left;
}
.counter:hover {
  box-shadow: inset 0 0 0 10px yellow;
}
.counter.front {
  background-image: url('../images/counterfront.jpg');
}
.counter.back {
  background-image: url('../images/counterback.jpg');
}
#counter01.front { background-position: 0px 0px; }
#counter02.front { background-position: -118px 0px; }
#counter03.front { background-position: -236px 0px; }
#counter04.front { background-position: -354px 0px; }
#counter05.front { background-position: -472px 0px; }
#counter06.front { background-position: -590px 0px; }
#counter07.front { background-position: -708px 0px; }
#counter08.front { background-position: 0px -118px; }
#counter09.front { background-position: -118px -118px; }
#counter10.front { background-position: -236px -118px; }
#counter11.front { background-position: -354px -118px; }
#counter12.front { background-position: -472px -118px; }
#counter13.front { background-position: -590px -118px; }
#counter14.front { background-position: -708px -118px; }
#counter15.front { background-position: 0px -236px; }
#counter16.front { background-position: -118px -236px; }
#counter17.front { background-position: -236px -236px; }
#counter18.front { background-position: -354px -236px; }
#counter19.front { background-position: -472px -236px; }
#counter20.front { background-position: -590px -236px; }
#counter21.front { background-position: -708px -236px; }
#counter22.front { background-position: 0px -354px; }
#counter23.front { background-position: -118px -354px; }
#counter24.front { background-position: -236px -354px; }
#counter25.front { background-position: -354px -354px; }
#counter26.front { background-position: -472px -354px; }
#counter27.front { background-position: -590px -354px; }
#counter28.front { background-position: -708px -354px; }
#counter01.back  {background-position: -708px 0px;}
#counter02.back  {background-position: -590px 0px;}
#counter03.back  {background-position: -472px 0px;}
#counter04.back  {background-position: -354px 0px;}
#counter05.back  {background-position: -236px 0px;}
#counter06.back  {background-position: -118px 0px;}
#counter07.back  {background-position: 0px 0px;}
#counter08.back  {background-position: -708px -118px;}
#counter09.back  {background-position: -590px -118px;}
#counter10.back  {background-position: -472px -118px;}
#counter11.back  {background-position: -354px -118px;}
#counter12.back  {background-position: -236px -118px;}
#counter13.back  {background-position: -118px -118px;}
#counter14.back  {background-position: 0px -118px;}
#counter15.back  {background-position: -708px -236px;}
#counter16.back  {background-position: -590px -236px;}
#counter17.back  {background-position: -472px -236px;}
#counter18.back  {background-position: -354px -236px;}
#counter19.back  {background-position: -236px -236px;}
#counter20.back  {background-position: -118px -236px;}
#counter21.back  {background-position: 0px -236px;}
#counter22.back  {background-position: -708px -354px;}
#counter23.back  {background-position: -590px -354px;}
#counter24.back  {background-position: -472px -354px;}
#counter25.back  {background-position: -354px -354px;}
#counter26.back  {background-position: -236px -354px;}
#counter27.back  {background-position: -118px -354px;}
#counter28.back  {background-position: 0px -354px;}
.clearfix { clear: both;}

.card {
  background-image: url('../images/Cards.jpg');
  background-repeat: no-repeat;
  width: 242px;
  height: 372px;
  position: absolute;
  top: 1915px;
}
.card:hover {
  box-shadow: inset 0 0 0 10px yellow;
}
.card.back {
  background-position: -1452px -744px !important;
  left: 1886px;
}
.card.front {
  left: 2190px;
}
#card01 { background-position: 0px 0px; }
#card02 { background-position: -242px 0px; }
#card03 { background-position: -484px 0px; }
#card04 { background-position: -726px 0px; }
#card05 { background-position: -968px 0px; }
#card06 { background-position: -1210px 0px; }
#card07 { background-position: -1452px 0px; }
#card08 { background-position: 0px -372px; }
#card09 { background-position: -242px -372px; }
#card10 { background-position: -484px -372px; }
#card11 { background-position: -726px -372px; }
#card12 { background-position: -968px -372px; }
#card13 { background-position: -1210px -372px; }
#card14 { background-position: -1452px -372px; }
#card15 { background-position: 0px -744px; }
#card16 { background-position: -242px -744px; }
#card17 { background-position: -484px -744px; }
#card18 { background-position: -726px -744px; }
#card19 { background-position: -968px -744px; }
#card20 { background-position: -1210px -744px; }
